<form [formGroup]="postForm">
  <mat-form-field *ngIf="selectedCategories.length !== 0">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let category of selectedCategories" [selectable]="selectable" [removable]="removable"
        (removed)="remove(category)">
        {{category.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Selected Categories" [matChipInputFor]="chipList" [matChipInputAddOnBlur]="addOnBlur">
    </mat-chip-list>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Choose Categories</mat-label>
    <mat-select formControlName="category" (ngModelChange)="add($event)">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput placeholder="Title">
  </mat-form-field>
</form>
<ckeditor [(ngModel)]="editorData"></ckeditor>
<div class="d-flex flex-row bd-highlight justify-content-end">
  <div class="pr-2 bd-highlight">
    <button color='accent' mat-raised-button (click)="onClick()">Ok</button>
  </div>
  <div class="bd-highlight">
    <button mat-raised-button (click)="onClose()">Close</button>
  </div>
</div>
