<h3>Folder Create or Edit</h3>
<form [formGroup]="imageFolderForm">
  <mat-form-field>
    <mat-label>Folder Name</mat-label>
    <input formControlName="name" matInput placeholder="Folder Name">
  </mat-form-field>
</form>
<div class="d-flex flex-row bd-highlight justify-content-end">
  <div class="pr-2 bd-highlight">
    <button color='accent' mat-raised-button (click)="onClick()">Ok</button>
  </div>
  <div class="bd-highlight">
    <button mat-raised-button (click)="onClose()">Close</button>
  </div>
</div>
